* {
	/*width: 100%;*/
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica Neue, Helvetica, serif;
}

h1 {
	font-size: 7vw;
}

.editor {
	width: 100%;
	min-height: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	background-color: #f6f6f6;
}

.editor #pic {
	position: absolute;
	border-radius: 5px;
	/*positioning from javascript*/
}

.editor #file-upload {
	visibility: hidden;
}

.editor #name {
	position: absolute;
	text-align: center;
	/*positioning from javascript*/
	background-color: transparent;
	width: 100%;
	height: auto;
}

.editor #bio {
	position: absolute;
	width: 80%;
	height: 30%;
	border: 0px;
	padding: 3px;
	font-size: 3vw;
	/*positioning from javascript*/
}

.editor #button {
	position: absolute;
	background-color: pink;
	width: auto;
	height: auto;
	font-size: 1vw;
	text-align: center;
	padding: 1vw;
	cursor: pointer;
	/*positioning from javascript*/
}

footer {

   position:fixed;
   left:0px;
   bottom:0px;
   height:10%;
   width:100%;
   background:#999;
   display: inline;
   z-index: 3;
   
}

.footertext {
	float: left;
	background-color: pink;
	height: 100%;
	text-align: center;
	padding-top: 2vw;
	border-right: 1px solid black;
}

#last{
	border: 0px !important;
}

.footertext:hover {
	background-color: orange;
}

.footertext a {
	text-decoration: none;
}

header {

   position:fixed;
   left:0px;
   top:0px;
   height:10%;
   width:100%;
   background:#999;
   z-index: 3;
   
}

#search {
	width: 100%;
	height: 100%;
	font-size: 3.5vw;
	border-bottom: 1px solid black;
	text-decoration: none;
	/*background-image: url("../img/icon.png"); */
	background-repeat: no-repeat;
	background-position: 1%;
	background-color: pink;
	/*z-index: 1;*/
}

#search:focus{
	outline-width: 0px;
	background-image: none;
}

#results{
	background-color: yellow;
	width: 100%;
	height: 80%;
	top: 10%;
	position: relative;
	/*z-index: 0;*/
}

#display {
	width: 100%;
	height: auto;
	background-color: blue;
	border-collapse: collapse;
}

#display thead {
	visibility: hidden;
	line-height: 0px;
}

#display tr {
	width: 100%;
	background: orange;
	border-bottom: 1px solid black;

}

#display .biox {
	padding: 0%;
	overflow: hidden;
}

#display .namex {
	font-weight: bold;
}

.t_row {
	 cursor: pointer;
}

/*view page styling*/
#viewpic {
	position: relative;
	float: left;
}

#viewpic img{
	border-radius: 5px;
}

#viewbio {
	position: relative;
	background-color: cyan;
	float: left;
}

#view_result{
	width: 100%;
	height: 100%;
	position: relative;
}

#welcome {
	height: 100%;
	width: 100%;
	background-color: salmon;
}

#left {
	border-right: 3px solid black;
}

.welcome {
	position: relative;
	float: left;
	width: 50%;
	padding: 3vw;
	height: auto;
	top: 20%;
	text-align: center;
	font-size: 7vw;
}