* {
	/*width: 100%;*/
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica Neue, Helvetica, serif;
}

h1 {
	font-size: 3em;
}

/*.editor{
	width: 80%;
	height: 80%;
	text-align: center;
	border-radius: 7px;
	background-color: gray;
	position: absolute;
}

.wrapper{
	 width: 1000px;
	 height: 1000px;
}

#pic{
   min-height: 100%;
  min-width: 100%;
}*/

.editor {
	width: 100%;
	min-height: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	background-color: #f6f6f6;
}

.editor #pic {
	position: absolute;
	/*positioning from javascript*/
}

.editor #file-upload {
	visibility: hidden;
}

.editor #name {
	position: absolute;
	text-align: center;
	/*positioning from javascript*/
	background-color: transparent;
	width: 100%;
	height: auto;
}

.editor #bio {
	position: absolute;
	width: 60%;
	height: 20%;
	border: 0px;
	padding: 3px;
	font-size: 1.5em;
	/*positioning from javascript*/
}

.editor #button {
	position: absolute;
	background-color: pink;
	width: auto;
	height: auto;
	font-size: .75em;
	text-align: center;
	padding: .5em;
	cursor: pointer;
	/*positioning from javascript*/
}

footer {

   position:fixed;
   left:0px;
   bottom:0px;
   height:10%;
   width:100%;
   background:#999;
   display: inline;
   
}

.footertext {
	float: left;
	background-color: pink;
	height: 100%;
	text-align: center;
	padding-top: 1.75em;
	border-right: 1px solid black;
}

#last{
	border: 0px !important;
}

.footertext:hover {
	background-color: orange;
}

.footertext a {
	text-decoration: none;
}

header {

   position:fixed;
   left:0px;
   top:0px;
   height:10%;
   width:100%;
   background:#999;
   
}

#search {
	width: 100%;
	height: 100%;
	font-size: 3em;
	border-bottom: 1px solid black;
	text-decoration: none;
	background-image: url('http://www.clker.com/cliparts/0/1/S/1/l/W/search-icon-hi.png');
	background-repeat: no-repeat;
	background-size: 5% 75%;
	background-position: 1%;
	background-color: pink;
}

#search:focus{
	outline-width: 0px;
	background-image: none;
}

#results{
	background-color: yellow;
	width: 100%;
	min-height: 80%;
	top: 10%;
	position: relative;
	z-index: -1;
}

#display {
	width: 100%;
	height: auto;
	background-color: blue;
}

#display thead {
	visibility: hidden;
}

