* {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica Neue, Helvetica, serif;
}

/*.editor{
	width: 80%;
	height: 80%;
	text-align: center;
	border-radius: 7px;
	background-color: gray;
	position: absolute;
}

.wrapper{
	 width: 1000px;
	 height: 1000px;
}

#pic{
   min-height: 100%;
  min-width: 100%;
}*/

.editor {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	background-color: light-gray;
}

.editor #pic {
	position: absolute;
	top: 10%;
	/*more from javascript*/
}

.editor #name {
	position: absolute;
	text-align: center;
}